<main>

  <section id="edit-page">
    <div class="editSection">
      <div class="info-edit">
        <h2>"One ring to rule them all, one ring to find them, one ring to bring
          them all and in the darkness bind them."</h2>
      </div>

      <form method="POST" class="editForm">
        <h2>Delete Post</h2>
        <ul class="noBullet">
          <li>
            <label for="title">Title:</label>
            <input
              type="text"
              class="inputFields"
              id="title"
              name="title"
              value="{{movie.title}}"
              disabled="true"
            />
          </li>
          <li>
            <label for="genre">Genre:</label>
            <input
              type="text"
              class="inputFields"
              id="genre"
              name="genre"
              value="{{movie.genre}}"
              disabled="true"
            />
          </li>
          <li>
            <label for="director">Director:</label>
            <input
              type="text"
              class="inputFields"
              id="director"
              name="director"
              value="{{movie.director}}"
              disabled="true"
            />
          </li>
          <li>
            <label for="date">Year:</label>
            <input
              type="number"
              class="inputFields"
              id="year"
              name="year"
              value="{{movie.year}}"
              disabled="true"
            />
          </li>
          <li>
            <label for="image">Movie Poster:</label>
            <input
              type="text"
              class="inputFields"
              id="image"
              name="imageUrl"
              value="{{movie.imageUrl}}"
              disabled="true"
            />
          </li>
          <li>
            <label for="image">Rating:</label>
            <select id="rating" name="rating" class="inputFields" disabled="true">
            {{#each options}}
              <option value="{{value}}" {{#if selected}}selected{{/if}}>{{title}}</option>
            {{/each}}
            </select>
          </li>
          <li>
            <label for="description">Description:</label>
            <textarea
              id="description"
              class="inputFields"
              name="description"
              disabled="true">{{movie.description}}</textarea>
          </li>
          <li id="center-btn">
            <button type="submit" id="edit-btn">Delete</button>
          </li>
        </ul>
      </form>

    </div>
  </section>

</main>